/*==================== Fonts ====================*/
/*?== Montserrat Font ==*/
@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}

/*?== Averia Gruesa Libre Font ==*/
@font-face {
  font-family: AveriaGruesaLibre-Regular;
  src: url("../fonts/Averia_Gruesa_Libre/AveriaGruesaLibre-Regular.ttf");
}

/*==================== Color Variables ====================*/
:root {
  --cyan-color: #009ad8;
  --bg-body-color: #1e202b;
  --text-color: #bfc1c8;
  --section-bg-color: #262936;
}

/*==================== General Styling ====================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cyan-color);
}

body {
  font-family: Montserrat-Medium;
  color: var(--text-color);
  background-color: var(--bg-body-color);
  height: 100vh;
}

button {
  font-family: AveriaGruesaLibre-Regular;
}

/*==================== Body Styling ====================*/
/************ Navbar ************/
nav {
  background-color: var(--bg-body-color);
}

nav .nav-link {
  color: var(--text-color);
  border: 2px solid transparent;
  border-radius: 30px;
  margin-right: 20px;
  padding: 5px 20px;
}

nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show,
nav .navbar-nav .nav-link:focus,
nav .navbar-nav .nav-link:hover {
  color: var(--cyan-color);
  border: 2px solid var(--cyan-color);
}

nav .navbar-brand img,
nav .navbar-brand .logo-text {
  display: inline-block;
  vertical-align: middle;
}

nav .logo-text h4 {
  color: #fff;
  margin-bottom: -5px;
}

nav .logo-text small {
  color: var(--text-color);
  font-size: 10px;
}

nav .navbar-toggler {
  border: 2px solid transparent;
  box-shadow: 0 0 0 transparent;
}

nav .navbar-toggler:focus,
nav .navbar-toggler:hover {
  border-color: var(--cyan-color);
  box-shadow: 0 0 0 transparent;
}

@media (max-width: 991px) {
  nav .mobile-navigation {
    background-color: var(--section-bg-color);
    padding: 1rem;
    border-radius: 20px;
  }

  nav .nav-link {
    color: var(--text-color);
    text-align: center;
    padding: 10px 20px;
    position: relative;
  }

  nav .nav-link::after {
    content: "";
    position: absolute;
    background-color: grey;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 1rem;
  }

  nav .navbar-nav .nav-link.active,
  nav .navbar-nav .nav-link.show,
  nav .navbar-nav .nav-link:focus,
  nav .navbar-nav .nav-link:hover {
    color: var(--cyan-color);
    border: 2px solid transparent;
  }
}

/************ Main ************/
.breadcrumb {
  background-color: var(--section-bg-color);
  border-radius: 30px;
  padding: 20px 30px;
  font-size: 14px;
}

.breadcrumb > a {
  color: var(--text-color);
}

.breadcrumb > a:hover {
  text-decoration: underline;
}

.breadcrumb > a::after {
  content: " ";
  background-image: url("../imgs/arrow-gray.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 7px;
  margin: 0px 10px;
}

/*?****** Left Side *******/
.inner-left {
  background-color: var(--section-bg-color);
}

.inner-left .contact-info p,
.inner-left .contact-info a {
  color: var(--text-color);
  font-size: 14px;
}

/*?****** Right Side *******/
.inner-right h2 {
  font-family: AveriaGruesaLibre-Regular;
}

.inner-right p {
  font-size: 14px;
}

.inner-right form input,
.inner-right form textarea {
  margin-bottom: 10px;
  padding: 11px;
  border: 2px solid var(--section-bg-color);
  border-radius: 25px;
  outline: none;
  background-color: transparent;
  font-size: 14px;
}

.inner-right form input:hover,
.inner-right form textarea:hover,
.inner-right form input:focus,
.inner-right form textarea:focus {
  border-color: rgb(0, 154, 216);
}

.inner-right button {
  padding: 7px 23px;
  border: none;
  background-color: var(--cyan-color);
}

/************ Footer ************/
footer {
  background-color: var(--section-bg-color);
  margin-top: 5rem;
}

footer .subscribe-container input {
  outline: none;
  padding: 20px 50px 20px 20px;
  background-color: var(--bg-body-color);
  border: none;
}

footer .subscribe-container button {
  padding: 15px 46px;
  border: none;
  left: 77%;
  top: 47%;
  background-color: var(--cyan-color);
}

footer .social-icons a {
  color: var(--cyan-color);
  background-color: var(--bg-body-color);
  transition: all 0.3s ease-in-out;
}

footer .social-icons a:hover {
  background-color: var(--cyan-color);
  color: #fff;
}

footer .copyright {
  font-size: 14px;
}

